:root {
    --color-primary-bg: #1b1a19;
    --color-primary-text: #fff;
    --color-secondary-bg: #2c2b2a;
    --color-secondary-border: #4a4948;
    --color-highlight: #d9982a;
    --color-hover-bg: rgba(255, 255, 255, 0.08);
    --color-icon-hover: #e2b67a;
    --color-accent-gold: #d4af37;
    --color-light-bg: #ffffff;
    --color-mega-bg: #f8f8f8;
    --color-mega-text: #000;
    --color-mega-hover: var(--color-highlight);

    --font-body: 'Arial', sans-serif;
    --container-max-width: 1366px;
    --container-side-padding: 32px;
    --container-side-padding-mobile: 16px;
    --header-footer-padding: 32px;

    /* Common Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-header-bg: #262626;
    --color-header-dark: #4c4c4c;
    --color-sale-red: #c1002b;
    --color-light-gray: #f9f9f9;
    --color-dark-gray: #333;
    --color-gray-light: #eee;
    --color-brown: #924f12;
    --color-brown-light: #b76e20;
    --color-gold-dark: #b58d1f;
    --color-header-medium: #514f4f;
    --color-brand-red: #c62828;
    --color-dark-text: #1c1c1c;
    --color-footer-bg: #F4F6FA;
    --color-primary-green: #3bb77e;
  }
