PORT=8000
CLIENT_BASE_URL=http://localhost:3006

CONNECTION_STRING=your_mongodb_connection_string

cloudinary_Config_Cloud_Name=your_cloud_name
cloudinary_Config_api_key=your_api_key
cloudinary_Config_api_secret=your_api_secret
mongoDB_Username=your_mongodb_username
mongoDB_pass=your_mongodb_password

JSON_WEB_TOKEN_SECRET_KEY=your_jwt_secret
ERPLY_API_URL=https://[your-client-code].erply.com/api/
ERPLY_CLIENT_CODE=your_client_code
ERPLY_USERNAME=your_erply_username
ERPLY_PASSWORD=your_erply_password
ERPLY_PRICE_LIST_ID="1"
ERPLY_PIM_API_URL=https://api-pim-eu10.erply.com/v1/product/group
